# DB 서버 세팅 (MySQL + MongoDB)
---
- name: DB 디렉토리 생성
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'
  loop:
    - /home/{{ ansible_user }}/tymee/db
    - /home/{{ ansible_user }}/tymee/db/mysql
    - /home/{{ ansible_user }}/tymee/db/mongodb
    - /home/{{ ansible_user }}/tymee/db/init
    - /home/{{ ansible_user }}/tymee/db/mongo-init

- name: docker-compose.yml 복사
  template:
    src: docker-compose.yml.j2
    dest: /home/{{ ansible_user }}/tymee/db/docker-compose.yml
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: .env 파일 생성
  template:
    src: env.j2
    dest: /home/{{ ansible_user }}/tymee/db/.env
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0600'

- name: DB 컨테이너 실행
  community.docker.docker_compose_v2:
    project_src: /home/{{ ansible_user }}/tymee/db
    state: present
  become_user: "{{ ansible_user }}"
