# 전체 인프라 세팅 플레이북
# 실행: ansible-playbook -i /tmp/ansible-inventory playbooks/setup-all.yml
---
- name: 모든 서버 공통 세팅
  hosts: all
  become: yes
  roles:
    - common
    - docker
    - grafana-agent

- name: DB 서버 세팅 (aarch64-3)
  hosts: db_servers
  become: yes
  roles:
    - db

- name: Cache 서버 세팅 (aarch64-4)
  hosts: cache_servers
  become: yes
  roles:
    - cache

- name: Production 앱 서버 세팅 (aarch64-1)
  hosts: app_servers
  become: yes
  roles:
    - app

- name: Staging 서버 세팅 (aarch64-2)
  hosts: staging
  become: yes
  roles:
    - staging
